<h2>Register</h2>

<form action="{% url 'register' %}" method="post">
  {% csrf_token %}
  <div>
    <label for="id_username">Username:</label>
    {{ form.username }}
  </div>
  <div>
    <label for="id_first_name">First Name:</label>
    {{ form.first_name }}
  </div>

  <div>
    <label for="id_last_name">Last Name:</label>
    {{ form.last_name }}
  </div>
  <div>
    <label for="id_email">Email:</label>
    {{ form.email }}
  </div>
  <div>
    <label for="id_password1">Password:</label>
    {{ form.password1 }}
  </div>
  <div>
    <label for="id_password2">Confirm Password:</label>
    {{ form.password2 }}
  </div>

  <button type="submit">Register</button>
  <button type="reset">Clear</button>
  <div>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
  </div>
</form>
