{% extends 'app/base.html' %} {% load static %} {% block content%}
<h1>Create Health Profile</h1>
<form action="{% url 'health_profile_create' %}" method="post">
  {% csrf_token %}
  <div>
    <label for="id_height">Height:</label>
    <input
      type="text"
      id="id_height"
      name="height"
      placeholder="Height in meters (e.g., 1.80)"
      class="inputFields"
    />
  </div>
  <div>
    <label for="id_weight">Weight:</label>
    <input
      type="number"
      id="id_weight"
      name="weight"
      placeholder="Weight in kilograms (e.g., 80)"
      class="inputFields"
    />
  </div>
  <input type="submit" value="Save" class="submitBtn" />
</form>
<hr />
<div class="add-button">
  <a href="{% url 'health_profile' %}">View Health Profile</a>
</div>
{% endblock content %}
