<header>
  <div class="nav-bar">
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'calories' %}">Track Calories</a>
    <a href="{% url 'exercise' %}">Exercises</a>
    <a href="{% url 'workout' %}">Log Workout</a>
    {% if user.is_authenticated %}
    <h3>Hello, {{user.username}}</h3>
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
    {% else %}
    <h3>Not logged in</h3>
    {% endif %}
  </div>
</header>
