{% extends 'app/base.html' %} {% load static %} {%block content%}
<div class="container">
  <h1>Set Weight Goal</h1>

  <form method="POST">
    {% csrf_token %}
    <div>
      <label for="{{ form.goal_type.id_for_label }}">Goal Type:</label>
      {{ form.goal_type }}
    </div>
    <div>
      <label for="id_start_date">Start Date:</label>
      <input type="date" id="id_start_date" name="start_date" />
    </div>

    <div>
      <label for="{{ form.target_weight.id_for_label }}"
        >Target Weight (kg):</label
      >
      {{ form.target_weight }}
    </div>
    <div>
      <label for="id_target_date">Target Date:</label>
      <input type="date" id="id_start_date" name="target_date" />
    </div>
    <button type="submit">Save Goal</button>
  </form>
</div>
{% endblock content%}
