{% extends 'app/base.html' %} {% load static %} {% block content %}
<h1>Add New Session</h1>
<form action="{% url 'workout_log_create' %}" method="post">
  {% csrf_token %} 
  <div>
    <label for="id_exercise_id">Exercise Name:</label>
    <select name="exercise_id" id="id_exercise_id">
      {% for exercise in exercises %}
        <option value="{{ exercise.pk }}"
          {% if exercise.pk == form.exercise_id.value %} selected {% endif %}>
          {{ exercise.exercise_name }}
        </option>
      {% endfor %}
    </select>
  </div>
<div>
  <label for="id_date">Date:</label>
  <input type="date" id="id_date" name="date" class="inputFields">
</div>
  <div>
    <label for="id_exercise_duration">Duration:</label>
    <input type="text" name="exercise_duration" id="id_exercise_duration" class="inputFields" />
  </div>

  <div>
    <label for="id_weight_lifted">Weight Lifted:</label>
    <input type="number" name="weight_lifted" id="id_weight_lifted" class="inputFields"  />
  </div>

  <input type="submit" value="Save" class="submitBtn" />
</form>
{% endblock content %}
